# Node dependencies
**/node_modules/

# Environment variables
**/.env

# Build files
**/dist/
**/build/

# Public/static assets (optional)
public/

# Ignore lock files and package logs
package-lock.json
yarn.lock
pnpm-lock.yaml
