@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-100 text-gray-900;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-300 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-400;
}
